[rtpengine]
interface={{ rtpengine_interface }}
table={{ rtpengine_table_mode }}
listen-ng={{ rtpengine_listen_host }}:{{ rtpengine_listen_ng_port }}
listen-tcp={{ rtpengine_listen_host }}:{{ rtpengine_listen_tcp_port }}
tos=184
port-min={{ rtpengine_port_min }}
port-max={{ rtpengine_port_max }}
recording-dir={{ rtpengine_spool_dir }}
recording-method={{ rtpengine_recording_method }}
recording-format={{ rtpengine_recording_format }}