[rtpengine-recording]
table = {{ rtpengine_table_mode }}
output-format = {{ rtpengine_output_format }}
resample-to = 16000
mp3-bitrate = 44100
output-mixed = 1
log-level = 1
spool-dir = {{ rtpengine_spool_dir }}
output-dir = {{ rtpengine_output_dir }}